/* custom styles for prayer.global */
.nav-link.pb_outline-dark {
    border:none;
    line-height: inherit;
}
.nav-link.pb_outline-dark:hover {
    color:white !important;
}
.navbar.awake .nav-link.pb_outline-dark {
    border:1px solid rgba(0, 0, 0, 0.2);;
}


.pb_navbar_light {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    font-family: "Montserrat", Arial, sans-serif; }
.pb_navbar_light .navbar-toggler:active, .pb_navbar_light .navbar-toggler:focus {
    outline: none; }
.pb_navbar_light > .container {
    position: relative; }
.pb_navbar_light .navbar-toggler {
    border: none;
    color: black;
    border-color: black;
    cursor: pointer;
    padding-right: 0; }
.pb_navbar_light .navbar-toggler i {
    font-size: 30px; }
.pb_navbar_light ul > li > a {
    color: black !important; }
.pb_navbar_light ul > li > a.active {
    color: black !important; }
.pb_navbar_light ul > li.cta-btn > a > span {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5); }
.pb_navbar_light .nav-link {
    font-size: 15px;
    padding-left: 1rem !important;
    padding-right: 1rem !important; }
@media (max-width: 1199px) {
    .pb_navbar_light .nav-link {
        padding-top: .5rem;
        padding-bottom: .5rem; } }
@media (max-width: 991px) {
    .pb_navbar_light .nav-link {
        padding-left: 0rem !important;
        padding-right: 0rem !important; } }
@media (max-width: 767px) {
    .pb_navbar_light .nav-link {
        padding-left: 0 !important;
        padding-right: 0 !important; } }
@media (max-width: 991px) {
    .pb_navbar_light .navbar-nav {
        background: rgba(255, 255, 255, 0.8);
        border-radius: 0px;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        border: 1px solid lightgrey; }  }
.pb_navbar_light.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px; }
@media (max-width: 991px) {
    .pb_navbar_light.scrolled .navbar-nav {
        background: none;
        border-radius: 0px;
        padding-left: 0rem !important;
        padding-right: 0rem !important; } }
@media (max-width: 767px) {
    .pb_navbar_light.scrolled .navbar-nav {
        background: none;
        padding-left: 0 !important;
        padding-right: 0 !important; } }
.pb_navbar_light.scrolled .navbar-toggler {
    border: none;
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding-right: 0; }
.pb_navbar_light.scrolled .nav-link {
    padding-top: .5rem;
    padding-bottom: .5rem; }
.pb_navbar_light.scrolled.awake {
    margin-top: 0px;
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out; }
.pb_navbar_light.scrolled.sleep {
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out; }
.pb_navbar_light.scrolled.pb_scrolled-light {
    background: #fff !important;
    -webkit-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15); }
.pb_navbar_light.scrolled.pb_scrolled-light .navbar-brand {
    color: #1d82ff; }
@media (max-width: 991px) {
    .pb_navbar_light.scrolled.pb_scrolled-light .navbar-nav {
        background: none;
        border-radius: 0px;
        padding-left: 0rem !important;
        padding-right: 0rem !important; } }
.pb_navbar_light.scrolled.pb_scrolled-light ul li a {
    color: #212529 !important; }
.pb_navbar_light.scrolled.pb_scrolled-light ul li a:hover, .pb_navbar_light.scrolled.pb_scrolled-light ul li a:active, .pb_navbar_light.scrolled.pb_scrolled-light ul li a:focus {
    color: #868e96 !important; }
.pb_navbar_light.scrolled.pb_scrolled-light ul li a.active {
    color: #1d82ff !important; }
.pb_navbar_light.scrolled.pb_scrolled-light ul li.cta-btn > a > span {
    border: none;
    background: #00CA4C;
    color: #fff; }

#video-link-icon {
    border:1px solid white;
    padding: 1.5rem 1.9rem;
    color:white;
    cursor: pointer;
}
#video-link-icon:hover {
    color: black;
    border-color: black;
    background-color: white;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loading-spinner.active {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 0.25rem solid #919191;
    border-top-color: black;
    animation: spin 1s infinite linear;
    display: inline-block;
}
.uppercase {
    text-transform: uppercase;
}
.black {
    color: black;
}
.pg_footer {
    color: white;
}
.video-image-link {
    cursor: pointer;
}
.pg_cover_v1 {
    height:100vh !important;
}

